[Unit]
Description=Poisson service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 </full/path/to/>main.py

[Install]
WantedBy=multi-user.target